<footer>
    <p>&copy; 2024 The Joyful Child, LLC.</p>
    <a href="https://find.childcare.texas.gov/providers/ecc0fb59-232f-49d8-ba15-54a25698affb" target="_blank"><p>Licensed</p></a>
    <a href="https://www.naeyc.org/" target="_blank"> NAEYC Accredited</a>
    <a href="https://www.facebook.com/thejoyfulchildDV/" target="_blank"><img src="/src/images/icons/facebook.svg"></a>
</footer>