<nav class="global-nav" role="navigation" aria-label="Main Navigation">
    <a href="/" class="company-logo">thejoyfulchild</a>
    <ul class="nav-links">
        <li class="dropdown">
            <button class="dropbtn">&#9776;</button>
            <div class="dropdown-content">
                <div class="hbgr-top-nav-container">
                    <a href="/" class="dropdown-company-logo">thejoyfulchild</a>
                    <button class="close-btn">&times;</button>
                </div>
                <div class="link-container">
                    <a href="/philosophy/">Philosophy</a>
                    <a href="/programs/">Programs</a>
                    <a href="/locations/">Find a location</a>
                    <a href="/about/">About</a>
                    <a href="/contact/">Contact us</a>
                </div>
            </div>
        </li>
    </ul>
</nav>