#contact-page {
    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        header {
            height: 50vh;
            background-color: rgb(98, 131, 36);
            color: white;
            padding: 10vh 7.5vw;
            p {
                max-width: 35rem;
                margin: auto;
            }
            #tuition-notice {
                margin-top: 1rem;
            }
        }
        main {
            section {
                position: relative;
                height: 74vh;
                .text-container {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0rem 7.5vw;
                    background-color: white;
                    height: 24.6vh;
                    h2 {
                        font-size: $font-xmed;
                        margin-bottom: 0rem;
                    }
                    ul {
                        padding: 0rem;
                        li {
                            list-style: none;
                            line-height: 30px;
                            p {
                                font-size: $font-sm !important;
                                margin: 0rem;
                            }
                        }
                    }
                }
            }
            #eth {
                background-image: url(/src/images/page-asset/contact/east-travis-hills-location.jpg);
                background-size: cover;
                background-position: center;
            }
            #hb {
                background-image: url(/src/images/page-asset/contact/hornsby-bend-location.jpg);
                background-size: cover;
                background-position: center;
            }
        }
    }
    @include breakpoint-up (small) {
        .content-container {
            header {
                text-align: center;
                padding-top: 20vh;
                height: 74vh;
            }
        }
    }
    @include breakpoint-up (medium) {

    }
    @include breakpoint-up (large) {
        .content-container {
            main {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 5vw;
                padding: 0rem 7.5vw;
                position: relative;
                bottom: 7.5vh;
                height: 100% !important;
                section {
                    border-radius: 20px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    .text-container {
                        border-radius: 0px 0px 20px 20px;
                        padding: 0rem 2.5vw;
                    }
                }
            }
        }
    }
}