#contact-page {
    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 74vh 76.5vh;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0rem 7.5vw;
        }
        main {
            height: 100%;
            section {
                width: 100vw;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;            
                &:not(:first-child) {
                    margin-top: 2.5vh;
                }
                button {
                    border-radius: 100px;
                    background-color: white;
                    color: black;
                    border-width: 2.5px;
                    border-top-color: #FF6347; /* Tomato */
                    border-right-color: #66CDAA; /* Medium Aquamarine */
                    border-bottom-color: #FFD700; /* Gold */
                    border-left-color: #9370DB; /* Medium Purple */
                    border-style: dashed;
                }
                .text-container {
                    color: rgb(255, 255, 255);
                    text-align: center;
                    h2 {
                        border: none;
                        border-radius: 75px 25px 50px 0px;
                    }
                }
            }
            #hb {
                background-image: url(/public/src/images/page-asset/contact/hornsby-bend-location.jpg);
                background-position: center;
                background-size: cover;
                h2 {background-color: #ff6347d5;}
            }
            #eth {
                background-image: url(/public/src/images/page-asset/contact/east-travis-hills-location.jpg);
                background-position: center;
                background-size: cover;
                h2 {background-color: #66cdabd2;}
            }
        }
    }
    @include breakpoint-up (small) {

    }
    @include breakpoint-up (medium) {

    }
    @include breakpoint-up (large) {
        .content-container {
            grid-template-columns: 50vw 50vw;
            grid-template-rows: 1fr;
            align-items: center;
            header {
                display: block;
                text-align: left;
                height: 100%;
                padding-top: 25vh;
            }
            main {
                max-height: 86.5vh;
                overflow-y: scroll;
                overflow-x: hidden;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */
                section {
                    max-width: 50vw;
                }
                #eth {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }
            main::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
        }
    }
}