nav {
    height: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: $font-med;
    .company-logo {color: white !important;}
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 2.5vh;
    margin-bottom: 1rem;
    a, p {
        color: whitesmoke;
        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
}
@include breakpoint-up (small) {
    footer {
        font-size: $font-xsm;
    }
}
@include breakpoint-up (medium) {
    footer {
        padding-left: 10vw;
        justify-content: start;
        font-size: $font-xsm;
    }
}