/* General styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    padding: 0 7.5vw;
    background-color: rgb(255, 253, 244);
    .company-logo {
        font-family: 'Sacramento', cursive !important;
        font-size: 2rem;
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }
    .menu-toggle {
        display: none; /* Hide the checkbox */
    }
    .hamburger-icon {
        display: none; /* Hidden on larger screens */
        flex-direction: column;
        justify-content: space-around;
        width: 1rem;
        height: 1.5rem;
        cursor: pointer;
        span {
            display: block;
            width: 1.25rem;
            height: 0.125rem;
            background-color: #000;
            transition: 0.3s;
        }
    }
    .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;
        li {
            a {
                text-decoration: none;
                color: #000;
                transition: color 0.3s;
            }
        }
    }
    /* Hamburger menu for mobile */
    @media screen and (max-width: 768px) {
        .hamburger-icon {
            display: flex;
            align-items: center;
            position: relative;
        }
        .nav-links {
            position: absolute;
            top: 7.5vh;
            right: -100%; /* Move the menu off-screen */
            width: 100%;
            height: 76.5vh;
            padding: 0rem;
            margin: 0rem;
            background-color: rgb(255, 253, 244);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3vh;
            transition: right 0.3s ease-in-out; /* Animate the `right` property */
            z-index: 100000;
            font-size: $font-xmed;
        }
        /* Checkbox hack for toggling menu */
        .menu-toggle:checked ~ .nav-links {
            right: 0; /* Bring the menu back on screen */
        }
        /* Transform the hamburger icon into a close (X) */
        .menu-toggle:checked ~ .hamburger-icon span:nth-child(1) {
            transform: rotate(45deg) translate(5.5px, 5.5px);
        }
        .menu-toggle:checked ~ .hamburger-icon span:nth-child(2) {
            opacity: 0;
        }
        .menu-toggle:checked ~ .hamburger-icon span:nth-child(3) {
            transform: rotate(-45deg) translate(5.5px, -5.5px);
        }
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 5vh;
    padding: 0rem 7.5vw;
    border-top: solid transparent; /* Make the border transparent */
    border-width: 2px;
    position: relative; /* Position the footer relative for the pseudo-element */
    a, p {
        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    a {
        img {
            height: 17.5px;
            width: 17.5px;
        }
    }
}
footer::before {
    content: '';
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    height: 2px; /* Match the border width */
    background: linear-gradient(to right,
        #FF6347 0%, #FF6347 20%, /* Color 1, spacing */
        #66CDAA 20%, #66CDAA 40%, /* Color 2, spacing */
        #FFD700 40%, #FFD700 60%, /* Color 3, spacing */
        #9370DB 60%, #9370DB 80% /* Color 4, spacing */);
    z-index: 1; /* Ensure the pseudo-element is above the border */
}

// utility
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(-26%);
    }
}
@include breakpoint-up (small) {
    nav, footer {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
    nav {
        height: 7.5vh;
        .nav-links {
            top: 7.5vh;
        }
    }
    footer {
        height: 6vh;
        font-size: $font-xsm;
    }
    footer::before {
        bottom: 6vh;
    }
}
@include breakpoint-up (medium) {
    footer {
        justify-content: start;
    }
}
@include breakpoint-up (large) {
   nav {
    .dropdown-content {
        display: block !important;
        .dropdown-company-logo {
            display: none;
        }
        a {
            &:hover {
                transition: ease-in-out .15s;
            }
            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }
    .close-btn, .dropbtn {
        display: none;
    }
   }
}