.philosophy-page {
    .content-container {
        display: grid;
        overflow-y: scroll;
        &::-webkit-scrollbar {display: none;}
        header {
            position: relative;
            background-image: url(/public/src/images/page-asset/philosophy/child-centered.jpg);
            background-size: cover;
            background-position: center;
            height: 74vh;
            h1, p, a {color: white;}
            h1 {
                position: absolute;
                bottom: 0;
                padding: 0rem 7.5vw;
            }
        }
        main {
            .section-container {
                .section-box {
                    .text-box {
                        padding: 7.5vh 7.5vw;
                    }
                    #section-img1, #section-img2, #section-img3 {
                        height: 54vh;
                    }
                    #section-img1 {
                        background-image: url(/public/src/images/page-asset/philosophy/curiosity.jpg);
                        background-size: cover;
                        background-position: center;
                    }
                    #section-img2 {
                        background-image: url(/public/src/images/page-asset/philosophy/jean.jpg);
                        background-size: cover;
                        background-position: center;
                        position: relative;
                        blockquote {
                            position: absolute;
                            bottom: 0;
                            padding: 1rem;
                            font-size: $font-med;
                            background-color: rgb(255, 253, 244);
                            border-radius: 10px;
                            footer {
                                font-size: $font-sm;
                                box-shadow: none;
                                padding: 0rem;
                            }
                        }
                    }
                    #section-img3 {
                        background-image: url(/public/src/images/page-asset/philosophy/creativity-trust.jpg);
                        background-size: cover;
                        background-position: center;
                    }
                }
                #section4 {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    background-color: rgb(102, 166, 75);
                    height: 74vh;
                    padding: 0rem 7.5vw;
                    .text-box {
                        position: relative;
                        margin: auto;
                        h2, p, a {color: white !important;}
                    }
                }
            }
        }
    }
    @include breakpoint-up (small){
        .content-container {
            header {
                height: 74vh;
                h1 {
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 25vh 7.5vw;
                    max-width: 35rem;
                    text-align: right;
                    padding: 0rem;
                }
            }
            main {
                .section-container {
                    #section4 {
                        padding: 20vh 20vw;
                    }
                }
            }
        }
    }
    @include breakpoint-up (medium){
        .content-container {
            header {
                height: 87vh;
            }
        }
    }
    @include breakpoint-up (large){
        .content-container {
            main {
                &::-webkit-scrollbar {display: none;}
                .section-container {
                    display: grid;
                    row-gap: 20vh;
                    .section-box {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 7.5vw;
                        align-items: center;
                        padding: 0rem 7.5vw;
                        .text-box {
                            padding: 0rem;
                        }
                        &:first-child {
                            padding-top: 20vh;
                        }
                        &:nth-child(2) {
                            .text-box {
                                order: 2;
                            }
                        }
                        #section-img1, #section-img2, #section-img3 {
                            height: 50vh;
                            border-radius: 20px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        }
                    }
                    #section4 {
                        height: 80vh;
                    }
                }
            }
        }
    }
}