<div id="contact-page">
    <div class="content-container">
        <header>
            <h1>Get in touch</h1>
            <p>Looking to contact The Joyful Child? There are a few ways to do so &mdash; check out your options below.</p>
            <p id="tuition-notice"><em>** Childcare tuition is in our request form.</em></p>
        </header>
        <main>
            <section id="eth">
                <div class="text-container">
                    <h2>East Travis Hills</h2>
                    <ul>
                        <li><p><a href="https://forms.gle/ajsorwdb174UQYeNA" target="_blank">Request childcare</a></p></li>
                        <li><a href="mailto:example@example.com">leesa.rodriguez@thejoyfulchild.care</a></li>
                        <li><p>512-497-0619</p></li>
                    </ul>
                </div>
            </section>
            <section id="hb">
                <div class="text-container">
                    <h2>Hornsby Bend</h2>
                    <ul>
                        <li><p><a href="https://forms.gle/gbCX6KaSPGdqdFZn6" target="_blank">Request childcare</a></p></li>
                        <li><a href="mailto:example@example.com">kelcey.williams@thejoyfulchild.care</a></li>
                        <li><p>512-291-2868</p></li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
</div>