<div id="contact-page">
    <div class="content-container">
        <header>
            <h1>Get in touch with one of our locations.</h1>
        </header>
        <main>
            <section id="hb">
                <div class="text-container">
                    <h2>Hornsby Bend</h2>
                    <button>
                        <a href="https://forms.gle/wCdx941ongoE2LgKA" target="_blank" class="rq-cta">Request childcare</a>
                    </button>
                </div>
            </section>
            <section id="eth">
                <div class="text-container">
                    <h2>East Travis Hills</h2>
                    <button>
                        <a href="https://forms.gle/oHp44iMTdMkCMFud7" target="_blank" class="rq-cta">Request childcare</a>
                    </button>
                </div>
            </section>
        </main>
    </div>
</div>