<div id="landing-page">
    <main>
      <section class="header-container">
        <header>
          <h1>
            <div class="line-1">Play-based</div>
            <div class="line-2">
              <ul class="dynamic-text">
                <li class="item">child care</li>
                <li class="item">learning</li>
                <li class="item">growth</li>
                <li class="item">children</li>
              </ul>
            </div>
          </h1>
        </header>
      </section>
      <section class="cta-container">
        <div>
          <a href="/philosophy/"><button class="cta1">Learn more</button></a>
        </div>
      </section>
    </main>
</div>