<div class="philosophy-page">
    <div class="content-container">
        <header>
            <h1>Children grow best simply by being at the center of their journey.</h1>
        </header>
        <main>
            <div class="section-container">
                <div class="section-box">
                    <div class="text-box">
                        <h2>We embrace curiosity of every creative child.</h2>
                        <p>We respect that the child is the co-constructor of knowledge. This means that the children's interests and their innate curiosity help choreograph our child-centered, <a href="/programs/">nature-based curriculum</a>.</p>
                    </div>
                    <section id="section-img1"></section>
                </div>
                <div class="section-box">
                    <div class="text-box">
                        <h2>We teach from the greatest childcare thinkers and practices.</h2>
                        <p>We support the children's exploration of their environment for learning and the provocation to take another look. Our philosophy combines some of the teachings of the greatest educators in early childhood: <a href="https://www.verywellmind.com/jean-piaget-biography-1896-1980-2795549" target="_blank">Jean Piaget</a>, <a href="https://www.communityplaythings.com/resources/articles/bev-bos-on-play" target="_blank">Bev Bos</a>, <a href="https://consciousdiscipline.com/author/bb/" target="_blank">Becky Bailey</a> and <a href="https://www.reggiochildren.it/en/reggio-emilia-approach/loris-malaguzzi/" target="_blank">Reggio Emilia's Loris Malaguzzi</a>.</p>
                    </div>
                    <section id="section-img2">
                        <blockquote>Play is the work of childhood.
                            <footer>— Jean Piaget</footer>
                        </blockquote>
                    </section>
                </div>
                <div class="section-box">
                    <div class="text-box">
                        <h2>We lead with creativity and trust with each child everyday.</h2>
                        <p>We focus on the process of learning in all its intricacies, not just the end result or the product. The learner must be trusted and supported to follow the creative processes without worry of what the finished product may be.</p>
                    </div>
                    <section id="section-img3"></section>
                </div>
                <section id="section4">
                    <div class="text-box">
                        <h2>A childcare program with the same philosophy as your family.</h2>
                        <p>Ready to join our community? <a href="/contact/">Contact us</a> to begin the enrollment process and secure your spot at one of our welcoming facilities.</p>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>