<body id="programs-page">
    <div class="content-container">
        <header>
            <h1>Early Childhood Education that works for all children.</h1>
        </header>
        <main>
            <section id="infant-care">
                <div class="program-info">
                    <h2>Infant care introduces children to their first experiences.</h2>
                    <p>In the first year, babies grow quickly and reach many milestones, like their first smile and first steps. They explore new sensations and learn about their surroundings.</p>
                </div>
                <div class="program-image"></div>
            </section>
            <section id="toddler-care">
                <div class="program-info">
                    <h2>Toddler care guides children to explore and learn.</h2>
                    <p>Toddlers become more independent and curious, exploring their environment by walking, climbing, and running. They learn about their world and develop language and social skills.</p>
                </div>
                <div class="program-image"></div>
            </section>
            <section id="preschool-care">
                <div class="program-info">
                    <h2>Preschool care allows children to learn and grow free range.</h2>
                    <p>Preschoolers use play to understand the world and express themselves. Through pretend play, arts and crafts, and games, they improve their thinking, language, and social skills.</p>
                </div>
                <div class="program-image"></div>
            </section>
            <section>
                <div class="program-info" id="offer-section">
                    <h2>We offer everything your family needs in a childcare program.</h2>
                    <div id="program-list">
                        <ul>
                            <li>Lower Ratios</li>
                            <li>Accredited & Passionate Teachers</li>
                            <li>Home-like Learning Enviornments</li>
                            <li>Provided Meals & Snacks</li>
                            <li>Provided Daily Essentials</li>
                            <li>Enrichment programs</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="trs-txaeyc">
                <div>
                    <h2>A journey through quality care.</h2>
                    <p>As part of our dedication to provide quality childcare to every family in our area, we partner with <a href="https://texasrisingstar.org/about-trs/" target="_blank">Texas Rising Star</a> and <a href="https://texasaeyc.org/#:~:text=TXAEYC%20is%20your%20professional%20membership,well%2Dcompensated%20early%20childhood%20profession." target="_blank">TXAEYC</a> to ensure we hold ourselves above the minimum standards of childcare.</p>
                </div>
            </section>
        </main>
    </div>
</body>