//Font sizes
$font-xsm: 0.8rem; // 12.80px
$font-sm: 1rem; // 16px
$font-med: 1.25rem; // 20px
$font-xmed: 1.563rem; // 25px
$font-lg: 1.953rem; // 31.25px
$font-xlg: 2.441rem; // 39.06px
$font-xxlg: 3.052rem // 48.83px