//Font sizes
$font-xsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-med: 1.25rem; // 20px
$font-xmed: 2rem; // 32px
$font-lg: 3.25rem; // 52px
$font-xlg: 4.5rem; // 72px
$font-xxlg: 7.5rem // 120px