// -- page layout & design -- 
#infant-care-page, #toddler-care-page, #preschool-care-page, #afterschool-care-page {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .cta-wrapper {
            text-align: center;
        }
        .section-container {
            padding: 5rem 10vw;
        }
        .list-container {
            ol {
                li {
                    a::after {
                        content: url(/public/icons/new-window.svg);
                        margin-left: .5rem;
                        position: relative;
                        top: .25rem;
                    }
                }
            }
        }
        .section-container, .list-container {
            p, li {
                font-size: $font-med;
            }
        }
        button {
            &:first-of-type {
                margin-bottom: .5rem;
            }
        }
        .btn-2 {
            background-color: rgb(250, 250, 250);
            color: black;
            border: solid;
            border-width: 2px;
            border-color: #83c77f;
        }
        .list-container {
            ol {
                display: inline-block;
                text-align: left;
                li {
                    line-height: 1.75;
                }
            }
        }
        @include breakpoint-up (large) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100vh;
            header {
                padding: 10rem 0rem 0rem 15vw;
            }
            .section-container {
                padding: 10rem 10vw;
            }
        }
    }
}
// -- header backgrounds --
#infant-care-page {
    main {
        header, .section-container {
            background-color: #9cd5e985;
        }
        header::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 25%;
            height: 100%;
            width: 75%;
            background-color: #9cd5e960;
            border-radius: 10% 25% 50% 75%;
            z-index: -1;
            overflow-y: visible;
        }
    }
}
#toddler-care-page {
    main {
        header, .section-container {
            background-color: #83c77f85;
        }
        header::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 25%;
            height: 100%;
            width: 75%;
            background-color: #83c77f60;
            border-radius: 10% 25% 50% 75%;
            z-index: -1;
            overflow-y: visible;
        }
    }
}
#preschool-care-page {
    main {
        header, .section-container {
            background-color: #ffc20085;
        }
        header::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 25%;
            height: 100%;
            width: 75%;
            background-color: #ffc20060;
            border-radius: 10% 25% 50% 75%;
            z-index: -1;
            overflow-y: visible;
        }
    }
}