html {
  height: -webkit-fill-available;
}
html body {
  height: 100%;
  font-size: 100%;
  line-height: 30px;
  margin: 0rem;
  box-sizing: border-box;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-color: rgb(255, 253, 244);
  overflow: hidden !important;
}
html body *, html body *::before, html body *::after {
  box-sizing: inherit;
}
html body nav a:hover, html body nav a:visited:hover, html body footer a:hover, html body footer a:visited:hover {
  background-image: linear-gradient(to right, #FF6347 0%, #FF6347 20%, #66CDAA 20%, #66CDAA 40%, #FFD700 40%, #FFD700 60%, #9370DB 60%, #9370DB 80%);
  background-size: 100% 3px; /* Adjust the thickness of the underline */
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-clip: content-box;
}
html body .content-container {
  display: grid;
  overflow-y: scroll;
  height: 76.5vh;
}
html body .content-container::-webkit-scrollbar {
  display: none;
}
html body .content-container p {
  font-size: 1.25rem;
}
@media (min-width: 30em) {
  html body .content-container {
    height: 86.5vh;
  }
}
html body main {
  height: 76.5vh;
  opacity: 0;
  animation-name: fadeInText;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 30em) {
  html body main {
    height: 86.5vh;
  }
}
@media (min-width: 64em) {
  html body main p {
    font-size: 1.25rem;
  }
}
html body header {
  position: relative;
}
@media (min-width: 30em) {
  html body header p {
    font-size: 1.25rem;
  }
}
html body h1, html body h2, html body h3, html body h4, html body p, html body blockquote {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  pointer-events: none;
}
html body h1, html body h2, html body h3, html body h4 {
  font-weight: bold;
  line-height: 1.25;
}
html body h1 {
  font-size: 2.441rem;
}
@media (min-width: 64em) {
  html body h1 {
    font-size: 3.052rem;
  }
}
html body h2 {
  font-size: 1.953rem;
}
@media (min-width: 40em) {
  html body h2 {
    font-size: 1.953rem;
  }
}
@media (min-width: 64em) {
  html body h2 {
    font-size: 2.441rem;
  }
}
html body a, html body button, html body li {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  outline: none;
}
html body p > a {
  pointer-events: all !important;
  text-decoration: underline;
  color: rgb(0, 145, 255) !important;
}
html body a, html body a:visited {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  text-decoration: none;
  color: black;
  cursor: pointer !important;
}
html body button {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border: none;
  color: black;
  cursor: pointer;
}
@media (max-width: 29.9999em) {
  html body .hide-mobile {
    display: none;
  }
}
@media (min-width: 30em) {
  html body .hide-tablet {
    display: none;
  }
}
@media (min-width: 64em) {
  html body .hide-desktop {
    display: none;
  }
}

/* General styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  padding: 0 7.5vw;
  background-color: rgb(255, 253, 244);
  /* Hamburger menu for mobile */
}
nav .company-logo {
  font-family: "Sacramento", cursive !important;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
nav .menu-toggle {
  display: none; /* Hide the checkbox */
}
nav .hamburger-icon {
  display: none; /* Hidden on larger screens */
  flex-direction: column;
  justify-content: space-around;
  width: 1rem;
  height: 1.5rem;
  cursor: pointer;
}
nav .hamburger-icon span {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #000;
  transition: 0.3s;
}
nav .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav .nav-links li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  nav {
    /* Checkbox hack for toggling menu */
    /* Transform the hamburger icon into a close (X) */
  }
  nav .hamburger-icon {
    display: flex;
    align-items: center;
    position: relative;
  }
  nav .nav-links {
    position: absolute;
    top: 7.5vh;
    right: -100%; /* Move the menu off-screen */
    width: 100%;
    height: 76.5vh;
    padding: 0rem;
    margin: 0rem;
    background-color: rgb(255, 253, 244);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    transition: right 0.3s ease-in-out; /* Animate the `right` property */
    z-index: 100000;
    font-size: 1.563rem;
  }
  nav .menu-toggle:checked ~ .nav-links {
    right: 0; /* Bring the menu back on screen */
  }
  nav .menu-toggle:checked ~ .hamburger-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
  }
  nav .menu-toggle:checked ~ .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }
  nav .menu-toggle:checked ~ .hamburger-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 5vh;
  padding: 0rem 7.5vw;
  border-top: solid transparent; /* Make the border transparent */
  border-width: 2px;
  position: relative; /* Position the footer relative for the pseudo-element */
}
footer a:not(:first-child), footer p:not(:first-child) {
  margin-left: 1rem;
}
footer p {
  margin: 0;
  padding: 0;
}
footer a img {
  height: 17.5px;
  width: 17.5px;
}

footer::before {
  content: "";
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  height: 2px; /* Match the border width */
  background: linear-gradient(to right, #FF6347 0%, #FF6347 20%, #66CDAA 20%, #66CDAA 40%, #FFD700 40%, #FFD700 60%, #9370DB 60%, #9370DB 80%);
  z-index: 1; /* Ensure the pseudo-element is above the border */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-26%);
  }
}
@media (min-width: 30em) {
  nav, footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  nav {
    height: 7.5vh;
  }
  nav .nav-links {
    top: 7.5vh;
  }
  footer {
    height: 6vh;
    font-size: 0.8rem;
  }
  footer::before {
    bottom: 6vh;
  }
}
@media (min-width: 40em) {
  footer {
    justify-content: start;
  }
}
@media (min-width: 64em) {
  nav .dropdown-content {
    display: block !important;
  }
  nav .dropdown-content .dropdown-company-logo {
    display: none;
  }
  nav .dropdown-content a:hover {
    transition: ease-in-out 0.15s;
  }
  nav .dropdown-content a:not(:last-of-type) {
    margin-right: 2rem;
  }
  nav .close-btn, nav .dropbtn {
    display: none;
  }
}
#landing-page {
  background-image: linear-gradient(rgba(15, 15, 15, 0.25), rgba(15, 15, 15, 0.25)), url(/public/src/images/page-asset/landing/looking-bugs.jpg);
  background-size: cover;
  background-position: 54% center;
}
#landing-page nav, #landing-page footer {
  box-shadow: none !important;
  border: none !important;
}
#landing-page nav a, #landing-page nav p, #landing-page nav .dropbtn, #landing-page footer a, #landing-page footer p, #landing-page footer .dropbtn {
  color: white;
}
#landing-page footer::before {
  display: none;
}
#landing-page main {
  display: grid;
  grid-template-rows: 40vh 30vh;
  padding: 0rem;
}
#landing-page main .header-container {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  text-align: center;
}
#landing-page main .header-container header h1 {
  margin: 0rem;
  color: white;
}
#landing-page main .header-container header h1 .line-2 {
  position: relative;
  top: 0.75rem;
  overflow: hidden;
  height: 70px;
  min-width: 80vw;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text .item {
  position: absolute;
  font-size: 61px;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(1), #landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(2), #landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(3) {
  animation: scrollUp 3s cubic-bezier(0.16, 1, 0.3, 1) 1s 1 normal forwards;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(2) {
  animation-delay: 3s;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(3) {
  animation-delay: 5s;
}
#landing-page main .header-container header h1 .line-2 .dynamic-text .item:nth-child(4) {
  animation: scrollUpFreeze 3s cubic-bezier(0.16, 1, 0.3, 1) 1s 1 normal forwards;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes scrollUpFreeze {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#landing-page main .cta-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  right: 0;
  bottom: 0;
}
#landing-page main .cta-container a .cta1 {
  margin-top: 1.5rem;
  border-radius: 100px;
  background-color: white;
  color: black;
  border-width: 2.5px;
  border-top-color: #FF6347; /* Tomato */
  border-right-color: #66CDAA; /* Medium Aquamarine */
  border-bottom-color: #FFD700; /* Gold */
  border-left-color: #9370DB; /* Medium Purple */
  border-style: dashed;
}
@media (min-width: 30em) {
  #landing-page main {
    grid-template-rows: 50vh 30vh;
  }
  #landing-page main .header-container header h1 .line-2 {
    height: 10vh;
  }
}
#about-page .content-container iframe {
  height: 100%;
  width: 100%;
}
@media (min-width: 40em) {
  #about-page .content-container iframe {
    padding: 0rem 7.5vw;
  }
}
#contact-page .content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 36.5vh;
}
#contact-page .content-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 7.5vw;
}
#contact-page .content-container main {
  height: 100%;
}
#contact-page .content-container main section {
  width: 100vw;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-page .content-container main section:not(:first-child) {
  margin-top: 2.5vh;
}
#contact-page .content-container main section button {
  border-radius: 100px;
  background-color: white;
  color: black;
  border-width: 2.5px;
  border-top-color: #FF6347; /* Tomato */
  border-right-color: #66CDAA; /* Medium Aquamarine */
  border-bottom-color: #FFD700; /* Gold */
  border-left-color: #9370DB; /* Medium Purple */
  border-style: dashed;
}
#contact-page .content-container main section .text-container {
  color: rgb(255, 255, 255);
  text-align: center;
}
#contact-page .content-container main section .text-container h2 {
  border: none;
  border-radius: 75px 25px 50px 0px;
}
#contact-page .content-container main #hb {
  background-image: url(/public/src/images/page-asset/contact/hornsby-bend-location.jpg);
  background-position: center;
  background-size: cover;
}
#contact-page .content-container main #hb h2 {
  background-color: rgba(255, 99, 71, 0.8352941176);
}
#contact-page .content-container main #eth {
  background-image: url(/public/src/images/page-asset/contact/east-travis-hills-location.jpg);
  background-position: center;
  background-size: cover;
}
#contact-page .content-container main #eth h2 {
  background-color: rgba(102, 205, 171, 0.8235294118);
}
@media (min-width: 64em) {
  #contact-page .content-container {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    align-items: center;
  }
  #contact-page .content-container header {
    display: block;
    text-align: left;
    padding: 0rem 7.5vw;
  }
  #contact-page .content-container main {
    max-height: 86.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  #contact-page .content-container main section {
    max-width: 50vw;
  }
  #contact-page .content-container main #hb {
    border-bottom-left-radius: 20px;
  }
  #contact-page .content-container main #eth {
    border-top-left-radius: 20px;
  }
  #contact-page .content-container main::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.philosophy-page .content-container {
  display: grid;
  overflow-y: scroll;
}
.philosophy-page .content-container::-webkit-scrollbar {
  display: none;
}
.philosophy-page .content-container header {
  position: relative;
  background-image: url(/public/src/images/page-asset/philosophy/child-centered.jpg);
  background-size: cover;
  background-position: center;
  height: 74vh;
}
.philosophy-page .content-container header h1, .philosophy-page .content-container header p, .philosophy-page .content-container header a {
  color: white;
}
.philosophy-page .content-container header h1 {
  position: absolute;
  bottom: 0;
  padding: 0rem 7.5vw;
}
.philosophy-page .content-container main .section-container .section-box .text-box {
  padding: 7.5vh 7.5vw;
}
.philosophy-page .content-container main .section-container .section-box #section-img1, .philosophy-page .content-container main .section-container .section-box #section-img2, .philosophy-page .content-container main .section-container .section-box #section-img3 {
  height: 54vh;
}
.philosophy-page .content-container main .section-container .section-box #section-img1 {
  background-image: url(/public/src/images/page-asset/philosophy/curiosity.jpg);
  background-size: cover;
  background-position: center;
}
.philosophy-page .content-container main .section-container .section-box #section-img2 {
  background-image: url(/public/src/images/page-asset/philosophy/jean.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.philosophy-page .content-container main .section-container .section-box #section-img2 blockquote {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(255, 253, 244);
  border-radius: 10px;
}
.philosophy-page .content-container main .section-container .section-box #section-img2 blockquote footer {
  font-size: 1rem;
  box-shadow: none;
  padding: 0rem;
}
.philosophy-page .content-container main .section-container .section-box #section-img3 {
  background-image: url(/public/src/images/page-asset/philosophy/creativity-trust.jpg);
  background-size: cover;
  background-position: center;
}
.philosophy-page .content-container main .section-container #section4 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(98, 131, 36);
  height: 74vh;
  padding: 0rem 7.5vw;
}
.philosophy-page .content-container main .section-container #section4 .text-box {
  position: relative;
  margin: auto;
}
.philosophy-page .content-container main .section-container #section4 .text-box h2, .philosophy-page .content-container main .section-container #section4 .text-box p, .philosophy-page .content-container main .section-container #section4 .text-box a {
  color: white !important;
}
@media (min-width: 30em) {
  .philosophy-page .content-container header {
    height: 74vh;
  }
  .philosophy-page .content-container header h1 {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25vh 7.5vw;
    max-width: 35rem;
    text-align: right;
    padding: 0rem;
  }
  .philosophy-page .content-container main .section-container #section4 {
    padding: 20vh 20vw;
  }
}
@media (min-width: 40em) {
  .philosophy-page .content-container header {
    height: 87vh;
  }
}
@media (min-width: 64em) {
  .philosophy-page .content-container main::-webkit-scrollbar {
    display: none;
  }
  .philosophy-page .content-container main .section-container {
    display: grid;
    row-gap: 20vh;
  }
  .philosophy-page .content-container main .section-container .section-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 7.5vw;
         column-gap: 7.5vw;
    align-items: center;
    padding: 0rem 7.5vw;
  }
  .philosophy-page .content-container main .section-container .section-box .text-box {
    padding: 0rem;
  }
  .philosophy-page .content-container main .section-container .section-box:first-child {
    padding-top: 20vh;
  }
  .philosophy-page .content-container main .section-container .section-box:nth-child(2) .text-box {
    order: 2;
  }
  .philosophy-page .content-container main .section-container .section-box #section-img1, .philosophy-page .content-container main .section-container .section-box #section-img2, .philosophy-page .content-container main .section-container .section-box #section-img3 {
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .philosophy-page .content-container main .section-container #section4 {
    height: 80vh;
  }
}

#programs-page .content-container header {
  padding: 17vh 7.5vw;
  height: 74vh;
  background-image: url(/public/src/images/page-asset/programs/all-children.jpg);
  background-size: cover;
  background-position: center;
}
#programs-page .content-container header h1, #programs-page .content-container header p, #programs-page .content-container header a {
  color: white;
}
#programs-page .content-container header h1 {
  position: absolute;
  bottom: 0;
}
#programs-page .content-container main section .program-info {
  padding: 7.5vh 7.5vw;
}
#programs-page .content-container main section #program-list {
  padding: 0rem;
}
#programs-page .content-container main section .program-image {
  height: 54vh;
}
#programs-page .content-container main #infant-care .program-image {
  background-image: url(/public/src/images/page-asset/programs/infant.jpg);
  background-size: cover;
  background-position: 90% 0%;
}
#programs-page .content-container main #toddler-care .program-image {
  background-image: url(/public/src/images/page-asset/programs/toddler.jpg);
  background-size: cover;
  background-position: center;
}
#programs-page .content-container main #preschool-care .program-image {
  background-image: url(/public/src/images/page-asset/programs/preschool.jpg);
  background-size: cover;
  background-position: center;
}
#programs-page .content-container main .trs-txaeyc {
  text-align: center;
  border-radius: 0rem;
  background-color: rgb(98, 131, 36);
  color: white;
  height: 74vh;
  padding: 15vh 7.5vw;
}
#programs-page .content-container main .trs-txaeyc a, #programs-page .content-container main .trs-txaeyc a:visited {
  color: white !important;
}
#programs-page .content-container main #offer-section {
  text-align: center;
  margin: auto;
  grid-column: span 2;
}
#programs-page .content-container main #offer-section ul {
  padding: 0rem;
}
#programs-page .content-container main #offer-section ul li {
  list-style: none;
  padding: 0rem;
  line-height: 30px;
}
@media (min-width: 30em) {
  #programs-page .content-container header {
    height: 74vh;
  }
  #programs-page .content-container header h1 {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25vh 7.5vw;
    color: white;
    max-width: 35rem;
    text-align: right;
  }
  #programs-page .content-container .trs-txaeyc {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 25vh 0rem;
    margin: auto;
  }
}
@media (min-width: 40em) {
  #programs-page .content-container header {
    height: 87vh;
  }
}
@media (min-width: 64em) {
  #programs-page .content-container main {
    display: grid;
    row-gap: 20vh;
  }
  #programs-page .content-container main section {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    border-radius: 10px;
    padding: 0rem 7.5vw;
  }
  #programs-page .content-container main section:first-child {
    padding-top: 20vh;
  }
  #programs-page .content-container main section .program-info {
    padding: 0rem;
  }
  #programs-page .content-container main section #program-list {
    padding: 0rem;
    font-size: 1.25rem;
  }
  #programs-page .content-container main section .program-image {
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #programs-page .content-container main #offer-section {
    max-width: 50vw;
  }
  #programs-page .content-container main .trs-txaeyc {
    height: 80vh;
  }
  #programs-page .content-container main .trs-txaeyc p {
    padding: 0rem 15vw;
  }
  #programs-page .content-container main #toddler-care .program-info {
    order: 2;
  }
}

#locations-page .content-container {
  display: grid;
  grid-template-columns: 1fr;
}
#locations-page .content-container header {
  text-align: center;
  padding: 7.5vh 7.5vw;
}
#locations-page .content-container header h1 {
  font-size: 1.953rem;
}
#locations-page .content-container main {
  height: 32vh;
}
#locations-page .content-container main #map-container {
  height: 100%;
  width: 100%;
}
#locations-page .content-container main #map-container iframe {
  height: 100%;
  width: 100%;
}
@media (min-width: 30em) {
  #locations-page .content-container header h1 {
    font-size: 3.052rem;
  }
  #locations-page .content-container main {
    height: 50vh;
  }
}
@media (min-width: 64em) {
  #locations-page .content-container {
    overflow: hidden;
    grid-template-columns: 50vw 50vw;
    align-items: center;
  }
  #locations-page .content-container header {
    text-align: left;
    order: 0;
  }
  #locations-page .content-container main {
    height: 86.4vh;
  }
}

#about-page .content-container iframe {
  height: 100%;
  width: 100%;
}
@media (min-width: 40em) {
  #about-page .content-container iframe {
    padding: 0rem 7.5vw;
  }
}/*# sourceMappingURL=styles.css.map */